<?xml version="1.0"?>
<model>
  <name>Agent</name>
  <version>1.0</version>
  <sdf>model.sdf</sdf>

  <author>
    <name>Fede3751</name>
  </author>

  <description>
    A simple agent model. Implements an ISACAntenna Sensor.
    Movement is achieved through hidden wheels, which allows the agent to move on the field with a diffDrive plugin.
  </description>
</model>